.don-container {
    padding-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.don-heading, .para-text, .don {
    flex: 1;
    margin: 10px;
    opacity: 0;
}

.don {
    padding: 60px;
}

.transitionD {
    padding-bottom: 20px;
}
