.leo-container {
    padding-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.leo-heading, .para-text, .leo {
    flex: 1;
    margin: 10px;
    opacity: 0;
}

.leo {
    padding: 60px;
}

.transitionL {
    padding-bottom: 20px;
}

