.mike-container {
    padding-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.mike-heading, .para-text, .mike {
    flex: 1;
    margin: 10px;
    opacity: 0;
}

.mike {
    padding: 60px;
}

.transitionM {
    padding-bottom: 20px;
}
