.raph-container {
    padding-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.raph-heading, .para-text, .raph {
    flex: 1;
    margin: 10px;
    opacity: 0;
}

.raph {
    padding: 60px;
}

.transitionR {
    padding-bottom: 20px;
}

